@import "./variables.scss";

@mixin color-scheme(){
    background-color: $secondary-color;
    color: $text-color
}

@mixin color-scheme-dark(){
    background-color: $secondary-color-dark;
    color: $text-color-dark
}

@mixin color-scheme-sidebar(){
    background-color: $primary-color;
    color: $text-color
}

@mixin color-scheme-sidebar-dark(){
    background-color: $primary-color-dark;
    color: $text-color-dark
}

@mixin text-scheme-medium(){
    display: block;
    text-align: center;
    font-size: $font-large;
    font-weight: bold;
    padding-bottom: $space-small;
}

@mixin color-scheme-hover(){
    background: $gradientSyanLight;
    color: $text-color
}

@mixin color-scheme-hover-dark(){
    background: $gradientSyan;
    color: $text-color-dark
}