@import "./variables/variables.scss";
@import "./variables/style-schemes.scss";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  #app {
    .container {
      display: flex;
      .sidebar {
        width: $sidebar-width;
        padding: $space-medium;
        position: sticky;
        top: 0;
        left: 0;
        .sidebarTop{
          margin: 50px 0 20px;
        }
        .sidebar-item {
          padding: $space-medium $space-small;
          border-radius: $space-small;
          transition: $transition-slow;
          cursor: pointer; 
  
          .sidebar-item_el {
            display: flex;
            align-items: center;
            column-gap: $space-medium;
            text-decoration: none;
            font-weight: bold;
            font-size: $space-large;
  
            .icon {
              font-size: $space-larger;
              color: $syan;
              margin-top: 3px;
            }
          }
        }
      }
      .topbar{
        height: $top-width;
        width: 100%;
        flex-grow: 1;
        display: inline-block;
      }
      .container-content{
        width: calc(100vw - $sidebar-width);
        display: flex;
        justify-content: center;
        padding: $space-large;
        box-sizing: border-box;
          .content-container-view{
            width: 100%;
            max-width: $max-width;
          }
        
      }
    }
  } 
}

.title-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $space-largest;
  h2{
      text-align: center;
  }
}

[data-theme="light"]{
    @include color-scheme;
    .sidebar{
      @include color-scheme-sidebar;
      .sidebar-item{
        .sidebar-item_el{
          color: $text-color;
        }
        &:hover {
          background: $gradientSyanLight; 
          .icon {
          }
        }
      }
    }
    .topbar{
      @include color-scheme-sidebar;
    }
}
  
[data-theme="dark"] {
  @include color-scheme-dark;
  .sidebar{
    @include color-scheme-sidebar-dark;
    .sidebar-item{
      .sidebar-item_el{
        color: $text-color-dark;
      }
      &:hover {
        background: $gradientSyan; 
        .icon {
        }
      }
    }
  }
  .topbar{
    @include color-scheme-sidebar-dark;
  }
}
  