@import "./variables/variables.scss";

main{
    display: flex;
    max-width: $max-width;
    align-items: center;
    .text{
        width: 360px;

        h1{
            font-size: $font-largest;
        }
        .buttonContainer{
            display: flex;
            justify-content: space-between;
            padding-right: $space-large;
            .button{
                background: $gradientSyan;
                padding: $space-medium $space-larger;
            }
            .button-grey{
                background: $gradientGrey;
                color: $text-color;
            }
        }
    }
    img{
        flex-grow: 1;
        width: auto;
    }
    @media screen and (max-width: 1450px){
        flex-direction: column;
        .text{
            width: 60%;
            .buttonContainer{
                width: 360px;
                // justify-content: ;
            }
        }
        img{
            max-width: 600px;
        }
    }
}

.year{
    .year-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: $space-larger;
    }
}
button{
    background: transparent;
    outline: none;
    color: white;
}

.week-calendar{
    width: 100%;
    max-width: $max-width-large;
    .content{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        .day{
            border: $border-syan;
            padding: $space-small;
            .header{
                display: block;
                text-align: center;
                @include text-scheme-medium;

            }
            .plan{
                min-height: 700px;
            }
        }
    }
}
.todo-list-container{
    margin-bottom: $space-large;
    text-align: center;
    .list-item{
        display: flex;
        align-items: center;
        gap: $space-medium;
        margin-bottom: $space-small;
        width: 100%;
        padding: $space-small;
        border-radius: $space-small;
        input[type="checkbox"]{
            width: 22px;
            height: 22px;
        }
        .task{
            flex-grow: 1;
            width: 345px !important;
            text-wrap: wrap;
            text-align: start;
        }
        .textCross{
            text-decoration: line-through;
        }
        .textSmall{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

        }
        .type{
            width: 55px;
        }
        svg{
            padding-top: $space-smallest;
            transition: all 0.3;
            &:hover{
                color: $red;
                scale: 1.1;
            }
        }
    }
    .smallContainer{
        max-width: 210px;
    }
    .work{
        background: $redGlass;
    }
    .hobby{
        background-color: $green;
    }
    .chores{
        background: $syanGlass;
    }
    .other{
        background: $yellowGlass;
    }
}


.day-plan{
    width: 100%;
    display: flex;
    max-width: $max-width;
    gap: $space-large;
    .section-item{
        border: $borderSyan;
        border-radius: $space-small;
        padding: $space-larger;
    }
    .dayTitle{
        font-weight: 600;
        font-size: $font-large;
        margin:  0 $space-medium;
    }
    .todo-list{
        flex-grow: 1;

        .buttonContainer{
            display: flex;
            justify-content: flex-end;
            margin-bottom: $space-large;

        }
        form{
            padding: $space-small $space-medium;
            border: 1px solid $syan;
            border-radius: $space-medium;
            text-align: end;
            .todo-container{
                width: 100%;
                padding-bottom: 0;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                column-gap: $space-medium;
                button{
                    margin-top: $space-large;
                }
                .input-container{
                    margin-bottom: $space-medium;
                }
                .text-input{
                    flex-grow: 1;
                }
                select{
                    min-width: 100px;
                }
            }
        }
    }
    .additional-section{
        width: 400px;
        .calendar{
            background: $gradientSyan;
            min-height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $font-medium;
            font-weight: bold;
            margin-bottom: $space-large;
            border: none;
            border-radius: $space-medium;
            .month-container{
                max-width: 100%;
                padding: $space-large;
            }
        }
        .aphorism{
            background: $green;
            border: none;
        }
    }
}

.help-view{
    width: 100%;
    max-width: $max-width;
    text-align: center;
    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-gap: $space-largest;
        column-gap: 60px;

        .help-view-item{
            margin-bottom: $space-larger;
            .view-item{
                display: flex;
                span{
                    padding: $space-larger;
                    border-radius: $space-larger;
                    font-weight: 500;
                }
            }
            .question{
                span{
                    width: 400px;
                    border-bottom-left-radius: 0;
                    margin-bottom: $space-medium;
                }
            }
            .answer{
                justify-content: flex-end;
                span{
                    width: 500px;
                    border-bottom-right-radius: 0;
                    color: $text-color;
                }
            }
        }
    }
}
.form{
    color: $syan;

    h2{
        text-align: center;
    }
}