@import "./variables/variables.scss";

main{
    display: flex;
    max-width: $max-width;
    align-items: center;
    .text{
        flex-grow: 1;

        h1{
            font-size: $font-largest;
        }
    }
    img{
        max-width: 800px;
    }
}

.year{
    .year-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: $space-larger;
    }
}
button{
    background: transparent;
    outline: none;
    color: white;
}

.week-calendar{
    width: 100%;
    max-width: $max-width-large;
    .content{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        .day{
            border: $border-syan;
            padding: $space-small;
            .header{
                display: block;
                text-align: center;
                @include text-scheme-medium;

            }
            .plan{
                min-height: 700px;
            }
        }
    }
}

.day-plan{
    width: 100%;
    display: flex;
    max-width: $max-width;
    gap: $space-large;
    .section-item{
        border: $borderSyan;
        border-radius: $space-small;
        padding: $space-small;
    }
    .todo-list{
        flex-grow: 1;
    }
    .additional-section{
        width: 400px;
        .aphorism{
            background: $gradientSyan;
            min-height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $font-medium;
            font-weight: bold;
            margin-bottom: $space-large;
            border: none;
        }
        .finance{
            min-height: 600px;
        }
    }
}

.help-view{
    width: 100%;
    max-width: $max-width-small;
    text-align: center;

    .help-view-item{
        margin-bottom: $space-larger;
        .view-item{
            display: flex;
            span{
                width: 500px;
                padding: $space-larger;
                border-radius: $space-larger;
                font-weight: 500;
            }
        }
        .question{
            span{
                border-bottom-left-radius: 0;
                margin-bottom: $space-medium;
            }
        }
        .answer{
            justify-content: flex-end;
            span{
                border-bottom-right-radius: 0;
                color: $text-color;
            }
        }
    }
}